@import "mixins";
@import "header";
@import "devise/new";
@import "admin/table";
@import "admin/form";
@import "trader/portfolios/index";
@import "trader/transactions/index";

body {
  display: flex;
  flex-direction: column;
}

a {
  color: #000000;
  text-decoration: none;

  &:hover {
    font-weight: 900;
    text-decoration: underline;
  }
}

.app-flash {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.table-container {
  margin: 40px 200px;
  padding: 20px;
}
