<section class="table-container">
  <div class="d-flex gap-5">
    <h3>Pending User Approvals</h3>
  </div>
  <br>
  <div>
    <div class="container">
      <ul class="row list-group-horizontal">
        <li class="col list-group-item fw-bold">NAME</li>
        <li class="col list-group-item fw-bold">E-MAIL</li>
        <li class="col list-group-item fw-bold">ACTION</li>
      </ul>
      <div class="table-head-divider pending-head-divider"></div>
    </div>
    <% if @pending_users.any? %>
      <% @pending_users.each do |user| %>
        <div class="container">
          <ul class="row list-group-horizontal">
            <li class="col list-group-item"><%= user.full_name %></li>
            <li class="col list-group-item"><%= user.email %></li>
            <li class="col list-group-item">
              <%= button_to "Approve", approve_admin_user_path(user), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-success" %>
            </li>
          </ul>
          <div class="table-item-divider pending-item-divider"></div>
        </div>
      <% end %>
    <% else %>
      <p class="container"><em>No users pending approval.</em></p>
    <% end %>
  </div>
</section>
